block employee
  ul.navbar-nav.mr-auto
    li.nav-item
      a.btn.btn.btn-outline.ml-md-3.nav-link(href="/user/createContest")
        | 공모전 등록
    li.nav-item
      a.btn.btn.btn-outline.ml-md-3.nav-link(href="/user/updateContest")
        | 공모전 수정
    li.nav-item
      a.btn.btn.btn-outline.ml-md-3.nav-link(href="/user/searchContest")
        | 공모전 검색
  ul.navbar-nav
    li.nav-item.active
      a.btn.btn.btn-outline.ml-md-3.nav-link(href="/mypage") 마이페이지
    li.nav-item.active
      a.btn.btn.btn-outline.ml-md-3.nav-link(href="/auth/logout") 로그아웃